 <input type="text" placeholder="username">
                        <input type="password" placeholder="password">
                        <button type="submit" class="btn">Connexion </button>
                        <a href="">Mot de pass oublié?</a>
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    


