{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="account-page" data-controller="account">
    <div class="container">
        <div class="row">
            <div class="col-6 imgDiv">
                <img src="{{ asset('build/images/logo.png') }}" alt="logo accaunt page">
            </div>
            <div class="col-6" id="accFormDiv">
                <div class="form-container">
                    <div class="form-btn">
                        <span data-action="click->account#showLogin">Connexion</span>
                        <span data-action="click->account#showReg">Inscription</span>
                        <hr id="indicator">
                    </div>
                    <form id="loginForm">
                        {% include "security/login.html.twig" %}
                    </form>
                     <form id="regForm">
                     {% include "registration/register.html.twig" %}
                     </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('account') }}
            {{ parent() }}
        {% endblock %}
