{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Modification des bougiés fondants</h1>

    {{ include('pages/poured_candle/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('pages/poured_candle/_delete_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('app_poured_candle_index') }}">back to list</a>
{% endblock %}
