.card {
    width: 300px;
    margin: auto;
}
.imgCard {
    width: 280px;
    height: auto;
}

.fondantCard{

    cursor: pointer;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
    height: 400px;
    background-color: rgb(216, 215, 215);
}
.titleFondantCandlePage {
    text-align: center;
    margin: 30px 0 50px;
}