.card-img-top {
    width: 220px;
    margin: auto;
}
.info-container{
    margin: 110px 200px 0 400px;
}
.info-container div{
    margin: 10px;
}
.btnListShowDetails{
    margin-top: 100px;
}
.addToCardBtn {
    background: #90f1a8;
}
.addToCardBtn:hover{
    background: #64df83;
}
.addToCardBtn:focus{
    outline: none;
}
.card {
    cursor: pointer;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.4);
    height: 400px;
    background-color: rgb(216, 215, 215); 
    text-decoration: none;
}
.card:hover{
    transform: scale(1.1);
}
.titleCandlePage {
    text-align: center;
    margin: 30px 0 50px;
}