
<header>
  <nav class="navbar navbar-expand-md bg-white sticky-top navbar-light shadow-sm">
    <div class="container">
    <div class="logoDiv">
            <img src="{{ asset('build/images/logo.png') }}" height="100px" width="70px" alt="logoNav">
          </div>
        <div class="nav-toggler">
        <span id="menuNav" class="navbar-toggler">MENU</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item mx-lg-3 my-lg-4 text-uppercase active">
             {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'homepage',
                            label: 'Accueil'
                        }
                     %} 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-lg-3 my-lg-4 text-uppercase" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              catalogue
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-item">
              {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'app_poured_candle_index',
                            label: 'Bougie Coulée'
                        }
                     %}</li>
              <li class="dropdown-item">
              {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'app_fondant_candle_index',
                            label: 'Fondants'
                        }
                     %}</li>
            </ul>
          </li>
          <li class="nav-item mx-lg-3 my-lg-4 text-uppercase">
            {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'about',
                            label: 'A propos de nous'
                        }
                     %}
          </li>
        </ul>
        
        <ul class="navbar-nav ms-auto" id="accBasket">
          <li class="nav-item mx-lg-2 text-uppercase">
            {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'basket',
                            label: 'Panier'
                        }
                     %}
          </li><i class="fa-solid fa-cart-shopping me-1"></i>
          <li class="nav-item mx-lg-2 text-uppercase">
            {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'app_login',
                            label: 'S\'identifier'
                        }
                     %}
          </li><i class="fa-solid fa-circle-user me-1"></i>
           <li class="nav-item mx-lg-2 text-uppercase">
            {% include "components/nav-link/index.html.twig" with
                        {
                            route: 'register',
                            label: 'S\'inscire'
                        }
                     %}
          </li><i class="fa-solid fa-circle-user me-1"></i>
        </ul>
      </div>
    </div>
  </nav>
</header>